@import "../../../scss/variables";
@import "../../../scss/mixins";

.button {
  @include formBase;

  padding: 3px 10px;
  font-size: .9em;
  text-decoration: none;
  display: inline-block;
  white-space: nowrap;
  user-select: none;
  cursor: default !important;

  &.iconButton {
    padding: 0 6px;
  }

  &.large {
    font-size: 1em;
    padding: 4px 12px;
  }

  &.primary {
    background-color: $primaryColor;
    color: $darkColor;

    &:hover:not(:disabled) {
      background-color: darken($primaryColor, 6%);
      color: $darkColor;
    }

    &:active:not(:disabled) {
      background-color: darken($primaryColor, 12%);
    }
  }

  .content {
    display: inline-flex;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;

    .loader {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: -2px;
    }

    .icon {
      margin-right: 5px;
      flex-shrink: 1;
    }

    .iconRight {
      margin-left: 5px;
      flex-shrink: 1;
    }
  }
}
