@import "../../../scss/variables";

$imageWidth: 350px;
$imageHeight: 300px;

.projectImage {
  display: flex;
  width: $imageWidth;
  height: $imageHeight;
  border: 1px dashed lighten($lightColor, 50%);
  margin: 35px 0 60px 0;
  align-items: center;
  justify-content: center;
  font-size: .8em;
  padding: 10px;
  cursor: pointer;
  -webkit-user-select: none;

  &:hover {
    background: $lightButtonHoverBg;

    @media (prefers-color-scheme: dark) {
      background: $darkButtonHoverBg;
    }
  }

  &:active {
    background: $lightButtonActiveBg;

    @media (prefers-color-scheme: dark) {
      background: $darkButtonActiveBg;
    }
  }

  @media (prefers-color-scheme: dark) {
    border: 1px dashed darken($darkColor, 50%);
  }
}

.isDragging {
  background: darken($lightBgColor, 10%);

  @media (prefers-color-scheme: dark) {
    background: lighten($darkBgColor, 10%);
  }
}

.image {
  width: $imageWidth;
  height: $imageHeight;
  object-fit: cover;
}
