.about {
  padding: 15px;
  font-size: 13px;
}

.title {
  font-size: 22px;
  font-weight: bold;
}

.version {
  margin: 10px 0;
  font-weight: bold;
}

.electronVersions {
  font-size: 11px;
  margin-bottom: 15px;
}

.legal {
  font-size: 10px;
}
