@import "../../scss/variables";

.about {
  padding: 15px;
  font-size: 13px;
}

.appIcon {
  width: 100%;
  display: block;
}

.title {
  font-size: 22px;
  font-weight: bold;
  line-height: 1.5em;
}

.ascomLink {
  color: $lightColor;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }

  @media (prefers-color-scheme: dark) {
    color: $darkColor;
  }
}

.version {
  margin: 10px 0;
  font-weight: bold;
}

.electronVersions {
  font-size: 11px;
  margin-bottom: 15px;
}

.legal {
  font-size: 10px;
}
