@import "../../../../../scss/variables";

.sidebar {
  min-width: 260px;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  font-size: .8em;
  display: flex;

  .contents {
    height: 100%;
    max-width: calc(100% - #{$columnDraggerWidth});
    flex-grow: 1;

    .addAccountButton {
      position: absolute;
      top: 20px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
