@import "../../../scss/variables";

.projectInfo {
  margin: 40px 0 !important;
}

.card {
  margin-bottom: 40px;
}

.projectDatesTitle {
  margin-bottom: 30px;
}

.formGroup {
  width: 100%;
  min-width: 400px;
  max-width: 500px;
}

.formControlWrapper {
  margin-bottom: 30px;
}

.dateSwitch {
  float: right;
}
