@import "../../../scss/variables";

.projectInfo {
  margin: 40px 0 !important;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projectName {
  max-width: 400px;
}

.card {
  margin-bottom: 40px;
}
