@import "../../../scss/variables";

.projectInfo {
  margin-top: 40px !important;
}

.card {
  margin: 40px 0;
}

.projectDatesTitle {
  margin-bottom: 30px;
}

.formGroup {
  width: 100%;
  min-width: 400px;
  max-width: 500px;
}

.formControlWrapper {
  margin-bottom: 30px;
}
