@import "../../../../../../scss/variables";

.task {
  padding: 8px 10px;
  margin: 10px 0;
  cursor: pointer;
}

.title {
  margin-bottom: 5px;
}

.description {
  font-size: .8em;
  opacity: .6;
  max-height: 35px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
