@import "../../../../../../../scss/variables";
@import "../../../../../../../scss/mixins";

.link {
  text-decoration: none;
  cursor: default;

  .button {
    border-radius: $borderRadius;
    color: var(--color);
    display: flex;
    align-items: center;
    gap: 10px;
    user-select: none;
    margin: 0 5px 5px 10px;
    font-size: 1.1em;
    padding: 3px 10px;
    white-space: nowrap;

    @include hoverBackgrounds;

    &.active {
      background-color: darken($lightSidebarBg, 15%);

      @media (prefers-color-scheme: dark) {
        background-color: lighten($darkSidebarBg, 7%);
      }
    }

    .contents {
      text-overflow: ellipsis;
      overflow: hidden;
      max-width: 100%;
    }
  }
}
