.checkbox {
  padding: 0 5px;
  user-select: none;
}

.buttonCell {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 15px;
  visibility: hidden;

  &.visible {
    visibility: visible;
  }
}

.done {
  opacity: .4;
  text-decoration: line-through;
}
