.loader {
  height: 30px;
}

.label {
  margin-bottom: 5px;
  text-align: left;
  user-select: none;
}

.currentLanguage {
  text-transform: capitalize;
  font-size: .8em;
  opacity: .7;
  margin-top: 5px;
  text-align: right;
  user-select: none;
}
