@import "../../../../scss/variables";

.sidebarItem {
  color: $lightColor;
  padding: 5px 10px;
  border-radius: 5px;
  display: block;

  &:hover {
    background: $lightButtonHoverBg;
    color: inherit;
    text-decoration: none;

    @media (prefers-color-scheme: dark) {
      background: $darkButtonHoverBg;
    }
  }

  &:active, &.selected {
    background: $lightButtonActiveBg;

    @media (prefers-color-scheme: dark) {
      background: $darkButtonActiveBg;
    }
  }

  @media (prefers-color-scheme: dark) {
    color: $darkColor;
  }
}

.icon {
  margin-right: 8px;
}

.text {
  font-size: .9em;
}
