.rightSidebar {
  display: flex;
  font-size: .9em;

  .contentWrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-grow: 1;

    .toolbar {
      display: flex;
      justify-content: space-between;

      .title {
        font-size: 1.3em;
        font-weight: bold;
      }
    }

    .content {
      flex-grow: 1;
    }
  }
}
