@import "../../../scss/variables";

.rightSidebar {
  display: flex;
  font-size: .9em;
  background-color: var(--sidebar-background-color);

  .contentWrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-grow: 1;
    padding: 15px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;

    .toolbar {
      display: flex;
      justify-content: space-between;

      .title {
        font-size: 1.3em;
        font-weight: bold;
      }
    }

    .content {
      flex-grow: 1;
    }
  }
}
