@import "../../../scss/variables";

$marginSize: 20px;

.toolbar {
  text-align: right;
  margin: $marginSize;
}

.tableWrapper {
  margin: $marginSize;
  width: calc(100% - 40px);
}

.tableCell {
  font-size: .85em !important;
}

.invisible {
  opacity: 0;
}
