.welcomeDialog {
  display: flex;
  gap: 15px;
  width: 600px;

  .iconSide {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 50%;

    .icon {
      width: 150px;
    }

    .appName {
      font-size: 2em;
    }

    .version {
      opacity: .5;
      font-size: .9em;
    }

    .buttons {
      margin: 25px 0;
      align-items: center;
      display: flex;
      flex-direction: column;
      gap: 5px;
      width: 175px;
    }
  }
}
