@import "../../../scss/variables";

.projectLayout {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: $titlebarHeight;

  .content {
    display: flex;
    flex-direction: row;
    min-height: 0;
    flex-grow: 1;
  }
}
