@import "../../../../../scss/variables";

.column {
  width: 275px;
  padding: 10px;
  margin: 10px;
  background-color: $lightSidebarBgColor !important;
  user-select: none;

  &:hover {
    .createButton {
      opacity: 1;
    }
  }

  &.dragOver {
    background-color: darken($lightSidebarBgColor, 5%) !important;
  }

  @media (prefers-color-scheme: dark) {
    background-color: $darkSidebarBgColor !important;

    &.dragOver {
      background-color: lighten($darkSidebarBgColor, 5%) !important;
    }
  }
}

.top {
  display: flex;
  align-items: center;

  .title {
    font-weight: bold;
    flex: 1 1 auto;
  }

  .count {
    font-size: .8em;
  }
}

.tasks {
  margin: 15px 0;
}

.createButton {
  width: 100%;
  opacity: 0;
  transition: opacity 200ms;
}
