@import "../../../../../scss/variables";

.column {
  width: 275px;
  padding: 10px;
  margin: 10px;
  background-color: $lightSidebarBgColor !important;
  user-select: none;

  &:hover {
    .createButton {
      opacity: 1;
    }
  }

  @media (prefers-color-scheme: dark) {
    background-color: $darkSidebarBgColor !important;
  }
}

.title {
  font-weight: bold;
}

.tasks {
  margin: 15px 0;
}

.createButton {
  width: 100%;
  opacity: 0;
  transition: opacity 200ms;
}
