@import "../../../scss/variables";

.toolbar {
  display: flex;
  align-items: center;
  margin: 5px 5px 0 5px;
}

.select {
  background: transparent;
  border: none;
  color: $lightColor;
  margin: 0 5px;

  &:first-child {
    margin-left: 0;
  }

  @media (prefers-color-scheme: dark) {
    color: $darkColor;
  }
}

.divider {
  width: 1px;
  height: 12px;
  background: $lightBorderColor;
  margin: 0 7px;

  @media (prefers-color-scheme: dark) {
    background: $darkBorderColor;
  }
}
