@import "../../../scss/variables";

.mainLayout {
  display: flex;
  flex-direction: column;
  height: 100%;

  &.customTitlebar {
    padding-top: $titlebarHeight;
  }

  .content {
    display: flex;
    flex-direction: row;
    min-height: 0;
    flex-grow: 1;
  }
}
