@import "../../../scss/variables";

.cover {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff;
  z-index: 1000;
  opacity: .7;
  -webkit-app-region: drag;

  @media (prefers-color-scheme: dark) {
    background-color: #000000;
    opacity: .6;
  }
}
