@import "../../scss/variables";

.base {
  opacity: 0.8;
  padding: 0.5em;
  cursor: pointer;
  z-index: 0;
  border: none;
  background: none;
  font-family: $systemFont;
  border-radius: 5px;
  position: relative;

  &::before {
    content: '';
    border-radius: 5px;
    z-index: -1;
    position: absolute;
    top: -1px;
    right: -2px;
    bottom: -1px;
    left: -2px;
    transform: scale(0);
    transition: transform 100ms;
  }

  &:hover {
    opacity: 1;
  }

  &:active {
    opacity: 1;
  }

  &.small {
    padding: 0.2em;
  }

  &.selected {
    background: $lightButtonHoverBg;

    @media (prefers-color-scheme: dark) {
      background: $darkButtonHoverBg;
    }
  }

  .wrapper {
    display: flex;
    align-items: center;
  }
}

.standard {
  &:hover {
    &::before {
      background: $lightButtonHoverBg;
      transform: scale(1);

      @media (prefers-color-scheme: dark) {
        background: $darkButtonHoverBg;
      }
    }
  }

  &:active {
    &::before {
      background: $lightButtonActiveBg;
      transform: scale(1);

      @media (prefers-color-scheme: dark) {
        background: $darkButtonActiveBg;
      }
    }
  }

  &.dark {
    color: #000000;

    &:hover {
      &::before {
        background: $lightButtonHoverBg;
      }
    }

    &:active {
      &::before {
        background: $lightButtonActiveBg;
      }
    }
  }

  @media (prefers-color-scheme: dark) {
    color: #ffffff;
  }
}
