@import "../../../../../../scss/variables";

.task {
  padding: 10px;
  border-radius: $borderRadius;
  background-color: var(--secondary-background-color);
  box-shadow: 0 0 3px var(--shadow-color);
  user-select: none;
  font-size: .9em;
  display: flex;
  flex-direction: column;
  gap: 5px;

  &:hover {
    background-color: darken($lightSecondaryBg, 3%);

    @media (prefers-color-scheme: dark) {
      background-color: darken($darkSecondaryBg, 2%);
    }

    .footer {
      .toolbar {
        visibility: visible;
      }
    }
  }

  .name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
  }

  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

    .taskNumber {
      flex-shrink: 1;
      margin-right: 25px;
    }

    .dueDate {
      font-size: .8em;
      opacity: .9;
      flex-grow: 1;
    }

    .toolbar {
      visibility: hidden;
    }
  }
}
