@import "../../../scss/variables";

.columnDragger {
  width: $columnDraggerWidth;
  height: 100%;
  cursor: col-resize;
  background-color: $lightBg;

  @media (prefers-color-scheme: dark) {
    background-color: $darkBg;
  }
}
