@import "../../../scss/variables";

.columnDragger {
  width: $columnDraggerWidth;
  height: 100%;
  cursor: col-resize;
  // border-right: 1px solid #262F34;
  border-right: 1px solid var(--border-color);
}
