.table {
  width: 100%;
  height: 100%;
  margin: 5px 10px;

  .head {
    user-select: none;

    .canSort, .cannotSort {
      display: flex;
      align-items: center;
      height: 30px;
      gap: 2px;
    }
  }
}
