@import '../../../scss/variables';

.column {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #ffffff;
  height: 100%;
  overflow: auto;
  position: relative;

  &.flexGrow {
    flex-grow: 1;
  }

  &.centered {
    display: flex;
    justify-content: center;

    &.centeredContent {
      flex-grow: 1;
    }
  }

  &.padding {
    padding: 5px 10px;
  }

  @media (prefers-color-scheme: dark) {
    background-color: #000000;
  }
}
