@import "../../scss/variables";

.welcome {
  height: 100%;
}

.iconSection {
  text-align: center;
  margin: 20px 0;

  .icon {
    width: 175px;
  }

  .welcome {
    font-size: 36px;
    margin-top: 10px;
  }
}

.buttons {
  margin-top: 40px;
  text-align: center;

  .newButton {
    margin-right: 15px;
  }
}

.recentProjects {
  background: $lightSidebarBgColor;
  padding-left: 0 !important;
  overflow-y: auto;
  height: 100%;

  @media (prefers-color-scheme: dark) {
    background: $darkSidebarBgColor;
  }
}

.recentProject {
  margin: 15px;
  display: block;
  width: calc(100% - 30px);

  .projectImage {
    $size: 50px;
    width: $size;
    width: $size;
    object-fit: cover;
    float: left;
    margin-right: 15px;
  }

  .defaultImage {
    font-size: 33px;
    float: left;
    width: 65px;
    padding-right: 13px;
  }

  .projectInfo {
    overflow: hidden;
    text-align: left;

    .projectName {
      font-size: 1.2em;
      margin-bottom: 6px;
    }

    .projectPath {
      opacity: .7;
      font-size: .8em;
    }
  }

  &:first-of-type {
    margin-top: 0px;
  }
}
