@import "../../scss/variables";

.iconSection {
  text-align: center;
  margin: 20px 0;
  padding-top: $macTitlebarSize;

  .icon {
    width: 175px;
  }

  .welcome {
    font-size: 36px;
    margin-top: 10px;
  }
}

.buttons {
  margin-top: 40px;
  text-align: center;
}

.recentProjects {
  background: $lightSidebarBgColor;
  padding-top: $macTitlebarSize;

  @media (prefers-color-scheme: dark) {
    background: $darkSidebarBgColor;
  }
}
