@import "../../../scss/variables";

$marginSize: 10px;

.toolbar {
  text-align: right;
  margin: $marginSize;
}

.tableWrapper {
  margin: $marginSize;
  width: calc(100% - 20px);
}

.tableCell {
  font-size: .85em !important;
}

.invisible {
  opacity: 0;
}

.completedTask {
  opacity: .5;
  text-decoration: line-through;
}

.showCompletedTasksSwitch {
  margin-right: 35px !important;
}

.showCompletedTasks {
  font-size: .8em;
}

.hiddenTask {
  display: none !important;
}
