@import "../../../scss/variables";

.sidebar {
  background: $lightSidebarBgColor;
  min-width: 200px;
  overflow: auto;
  padding: 10px 10px 10px 0;
  position: relative;
  backdrop-filter: blur(5px);

  @media (prefers-color-scheme: dark) {
    background: $darkSidebarBgColor;
  }
}

.projectInfo {
  text-align: center;
  margin-top: 5px;
}

.image {
  max-width: 65%;
  border-radius: 5px;
  margin-bottom: 10px;;
}

.projectName {
  font-size: 1.3em;
  font-weight: bold;
  margin-bottom: 50px;
}
