@import "../variables";

.dialog {
  background: $yellowNoteLight !important;
  color: #000000 !important;

  @media (prefers-color-scheme: dark) {
    background: $yellowNoteDark !important;
  }
}

.closeButton {
  position: absolute !important;
  top: 2px !important;
  right: 2px !important;
  z-index: 1000 !important;
  color: #000000 !important;
}

.title {
  margin-bottom: 13px;
}

.titleField {
  color: #000000 !important;
  font-size: 1.3em !important;
  font-weight: bold !important;
}

.textField {
  color: #000000 !important;
}
