.paper {
  min-width: 750px;
}

.closeButton {
  position: absolute !important;
  top: 2px !important;
  right: 2px !important;
}

.deleteButton {
  position: absolute !important;
  bottom: 5px !important;
  left: 5px !important;
  color: #f44336;
}
