@import "../../../../scss/variables";

.paper {
  min-width: 750px;
}

.closeButton {
  position: absolute !important;
  top: 2px !important;
  right: 2px !important;
}

.deleteButton {
  position: absolute !important;
  bottom: 10px !important;
  left: 10px !important;
  color: #f44336 !important;
}

.leftSide {
  padding-right: 25px;
}

.descriptionHeader {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.descriptionLabel {
  font-weight: bold;
  font-size: 1.2em;
  flex: 1 1 auto;
}

.descriptionEditButton {
  margin-left: 10px;
}

.descriptionEditor {
  margin-top: 10px;
}
