@import "../../../scss/variables";

.roundedButton {
  position: relative;
  opacity: 0.8;
  padding: 0.5em;
  cursor: pointer;
  z-index: 0;
  border: none;
  background: none;

  &::before {
    content: '';
    border-radius: 5px;
    z-index: -1;
    position: absolute;
    top: -1px;
    right: -2px;
    bottom: -1px;
    left: -2px;
    transform: scale(0);
    transition: transform 100ms;
  }

  &:hover {
    opacity: 1;

    &::before {
      background: $lightButtonHoverBg;
      transform: scale(1);

      @media (prefers-color-scheme: dark) {
        background: $darkButtonHoverBg;
      }
    }
  }

  &:active {
    opacity: 1;

    &::before {
      background: $lightButtonActiveBg;
      transform: scale(1);

      @media (prefers-color-scheme: dark) {
        background: $darkButtonActiveBg;
      }
    }
  }

  @media (prefers-color-scheme: dark) {
    color: #ffffff;
  }
}
