$primaryColor: #2E7CF6;

$lightBg: #f0f0f0;
$lightColor: #000000;
$darkBg: #222222;
$darkColor: #f0f0f0;
$lightBorderColor: #cfcfcf;
$darkBorderColor: #333333;

$successColor: green;
$errorColor: red;

$dialogPadding: 10px;

$titlebarHeight: 40px;
$columnDraggerWidth: 10px;
