$primaryColor: #0d589b;
$primaryColorLighter: #d1e3f9;

$lightBg: #fafafa;
$lightSecondaryBg: #ffffff;
$lightColor: #000000;
$darkBg: #212121;
$darkColor: #f0f0f0;
$darkSecondaryBg: #333333;
$lightBorderColor: #cfcfcf;
$darkBorderColor: #333333;

$successColor: green;
$errorColor: red;

$borderRadius: 3px;
$dialogPadding: 10px;

$titlebarHeight: 40px;
$columnDraggerWidth: 10px;
