$macTitlebarSize: 22px;

$lightBgColor: #f0f0f0;
$lightColor: #000000;
$darkBgColor: #222222;
$darkColor: #f0f0f0;

$lightSidebarBgColor: #e5e5e5;
$darkSidebarBgColor: #2f2f2f;

$lightButtonHoverBg: rgba(0, 0, 0, .1);
$darkButtonHoverBg: rgba(255, 255, 255, .1);
$lightButtonActiveBg: rgba(0, 0, 0, .15);
$darkButtonActiveBg: rgba(255, 255, 255, .15);

$darkFormBg: #121212;
