@import "./variables";

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#root {
  height: 100%;
  width: 100%;
}

a {
  text-decoration: none;
}

.hasDarwinTitlebar {
  padding-top: $macTitlebarSize;
}

@import "./dark-mode-overrides.scss";
