@import "./variables";

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: $lightBgColor;
  color: $lightColor;
  overflow: hidden;

  @media (prefers-color-scheme: dark) {
    background-color: $darkBgColor !important;
    color: $darkColor !important;
  }
}

#root {
  height: 100%;
  width: 100%;
}

.hasDarwinTitlebar {
  padding-top: $macTitlebarSize;
}
