@import "../../node_modules/react-quill/dist/quill.bubble.css";
@import "./variables";

.ql-container {
  font-size: 15px;
}

.ql-editor {
  &.ql-blank {
    &::before {
      opacity: .5;

      @media (prefers-color-scheme: dark) {
        color: $darkColor !important;
      }
    }
  }
}
