@import "../../node_modules/react-quill/dist/quill.bubble.css";
@import "./variables";

.ql-container {
  font-size: 15px;
}

.ql-editor {
  // padding: 15px 0;
  border: 1px solid $lightBorderColor;
  border-radius: 4px;

  &.ql-blank {
    &::before {
      opacity: .5;
      // right: 0;
      // left: 0;

      @media (prefers-color-scheme: dark) {
        color: $darkColor !important;
      }
    }
  }

  @media (prefers-color-scheme: dark) {
    border: 1px solid $darkBorderColor;
  }
}
