@import "../../scss/variables";

.projectInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.formGroup {
  width: 400px;
}

.formControlWrapper {
  margin-bottom: 30px;
}

.projectDescription {
  min-height: 125px;
}
