@import "../../scss/variables";

.projectInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.formGroup {
  width: 100%;
  width: 500px;
}

.formControlWrapper {
  margin-bottom: 30px;
}

.textField, .datePicker {
  width: 100%;
}

.switch {
  margin-bottom: 10px;
}
