@import "../../../../../../scss/variables";

.kanbanBoardColumn {
  display: flex;
  gap: 10px;
  flex-direction: column;
  width: 33%;
  padding: 10px 15px;
  margin: 5px;
  background-color: #ffffff;
  border-radius: $borderRadius;

  @media (prefers-color-scheme: dark) {
    background-color: #000000;
  }

  &.draggedOver {
    opacity: .5;
  }

  .title {
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 10px;

    .marker {
      $size: 15px;
      height: $size;
      width: $size;
      border-radius: 50%;

      &.todo {
        background-color: $todoColor;
      }

      &.doing {
        background-color: $doingColor;
      }

      &.done {
        background-color: $doneColor;
      }
    }
  }

  .tasks {
    display: flex;
    gap: 10px;
    flex-direction: column;
  }
}
