@import "../../../scss/variables";

.sidebarItem {
  color: $lightColor;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;

  &:hover {
    background: $lightButtonHoverBg;
    color: inherit;
    text-decoration: none;

    @media (prefers-color-scheme: dark) {
      background: $darkButtonHoverBg;
    }
  }

  &:active, &.selected {
    background: $lightButtonActiveBg;

    @media (prefers-color-scheme: dark) {
      background: $darkButtonActiveBg;
    }
  }

  @media (prefers-color-scheme: dark) {
    color: $darkColor;
  }
}

.icon {
  margin-right: 8px;
  float: left;
}
